<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Detta i movimenti da controllare prima di aggiungerli. La trascrizione avviene sul dispositivo.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Trascrivi i movimenti dettati per preparare un elenco da approvare.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>cc.fbianco.personalfinance.exampletask</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cc.fbianco.finance.widget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>forgia</string>
				<string>formi</string>
			</array>
		</dict>
	</array>
	<key>CKSharingSupported</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>cc.fbianco.finance.new-expense</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Nuova spesa</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
